@import 'styles/breakpoints';

.header {
  background-image: url('/assets/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 120px 100px 120px;
  position: relative;
  @media(max-width: $tablet) {
    background-size: contain;
    padding-top: 250px;
  }
  @media(max-width: $mobile-sm) {
    padding: 250px 50px 100px 50px;
  }
}

.header {
  display: flex;
  margin-bottom: 100px;
  @media(max-width: $tablet) {
    gap: 20px;
  }
  &-texto {
    color: white;
    grid-area: texto;
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 25px;
    }
  }
  &-button {
    display: flex;
    @media(max-width: $tablet) {
      justify-content: center;
    }
  }

}